<!--@subject {{trans "Magento2 Store Update needed"}}  @-->
Looks like your Shop needs an update.<br>
Your current Version is {{var version}}.<br>
The latest Version is {{var latest}}.
<br><br>

If you want to know which changes are made in the newest version take a look at.<br>
<a href="https://devdocs.magento.com/guides/v{{var short_version}}/release-notes/bk-release-notes.html">Magento Release {{var short_version}} Notes</a>

<br><br>
{{var release_notice}}
<br><br>
If you don't have an technical contact for this,<br>
you could contact us under {{var website}} or {{var email}}.
