<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magentoupdatenotify>
            <general>
                <enable>1</enable>
                <contact_email>info@flagbit.de</contact_email>
                <contact_website>www.flagbit.de</contact_website>
                <major_release>1</major_release>
                <minor_release>1</minor_release>
                <patch_release>0</patch_release>
                <email_developer></email_developer>
                <email_customer></email_customer>
                <enable_email>1</enable_email>
                <enable_slack>0</enable_slack>
                <slack_token></slack_token>
                <slack_username>Magento Update Notify</slack_username>
                <slack_channel></slack_channel>
            </general>
        </magentoupdatenotify>
    </default>
</config>
