<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magento>
            <update_notify>
                <enable>1</enable>
                <contact_email>info@flagbit.de</contact_email>
                <contact_website>www.flagbit.de</contact_website>
                <major_release>1</major_release>
                <minor_release>1</minor_release>
            </update_notify>
        </magento>
    </default>
</config>
